@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

body { margin: 0; }

body > nav {
  background-color: #313131;
  box-shadow: 0 0.1rem 0.1rem #c0c0c0;
}

body > nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

body > nav a:link,
body > nav a:visited {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
  transition: all 200ms;
}
body > nav a:hover {
  background-color: #fff;
  color: black;
}
body > nav a:active {
  background-color: rgb(133, 85, 9);
  color: black;
  transition: none;
}

/**
 * Main container
 */

main {
  max-width: 60rem;
  margin: 0 auto;
}

/**
 * Misc
 */

fieldset {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

input[type='text'],
input[type='search'],
input[type='url'],
select {
  font-size: 1rem;
  padding: 0.25rem 0.4rem;
  border: thin solid #9e9e9e;
  border-radius: 0.125rem;
}

input[type='submit'],
input[type='reset'],
button {
  font-size: 1.2rem;
  padding: 0.25rem 0.4rem;
  border: thin solid #9e9e9e;
  border-radius: 0.125rem;
  cursor: pointer;
  margin: 1.2rem 0;
  padding-left: 1rem;
  padding-right: 1rem;
}

* {
  margin: 0;
  padding:0;
  font-family: system-ui;
}



.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1rem;
  box-shadow: 0px 0px 6px 0px #808080b3;
  border-radius: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form form input{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 20px;
  outline: none;
}

.form form label {
  margin-top: 7px;
  margin-right: 2Px;
}

.form button {
  margin-top: 10px;
  padding: 4px 10px;
  font-size: 1rem;
  border: 1px solid gray;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}

table{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1rem;
  box-shadow: 0px 0px 6px 0px #808080b3;
  border-radius: 10px;
}
